.news
  height: auto;
  position: relative;

.news-background
  z-index: -1

.news-layer
  position: absolute;
  left: 0
  bottom 0
  z-index: -1
  width: 100%
  height: 100%




.heading
  Text-Style-Title()
  letter-spacing: 3px
  display: flex;

.heading-news
  background: url('/static/img/general/news-img.png') no-repeat center center
  width: 326px
  height: 149px
  display: flex;
  align-items: center;
  justify-content: center

.heading-wrap
  display: flex;
  justify-content: center;
  margin: 45px 0

.news-content
  display: flex;
  flex-direction: column;
  margin-bottom: 90px

.content-row-wrap
  background: white;
  padding: 30px 20px 90px;

.content-row
  display: flex;
  justify-content: space-between;


.content-image
  display: flex;
  max-width: 398px
  width: 100%

.news-text-wrap
  display: flex;
  flex-direction: column;
  width: 63%

.news-text-title
  font-size: 18px
  font-weight: bold;
  color #2f5068
  text-transform: uppercase;
  word-spacing: 2px
  margin-bottom 15px

.news-text-date
  color: #999999

.news-content-text-wrap
  margin-top: 30px

.news-content-subtitle
  font-weight: 600
  margin-bottom: 5px

.news-content-text
  line-height: 22px
