footer
  .container
    .footer-content
      .mobile-footer-navigation
        .footer-logo--mobile
          a(href="/")
            img.footer-img(src="/static/img/general/footer-logo.png")
        nav.footer-nav
          a(href="/").nav-link-footer--mobile Главная      
          a(href="/").nav-link-footer--mobile Новости
          a(href="/").nav-link-footer--mobile купить
          a(href="/").nav-link-footer--mobile демо
          a(href="/").nav-link-footer--mobile лицензионное соглашение
          a(href="/").nav-link-footer--mobile дополнительные услуги
          a(href="/").nav-link-footer--mobile модули
          a(href="/").nav-link-footer--mobile Контакты            
      .feedback
        span.feedback-text Напишите нам 
        a(href="/").feedback-link MDexhanger@gmail.com
      .footer-logo
        a(href="/")
          img.footer-img(src="/static/img/general/footer-logo.png")
      .socials
        span.social-text Мы в соцсетях:
        .social-link-wrap
          a(href="/").social-link#vk-link
            +icon('vk','social-icon')
          a(href="/").social-link#fb-link
            +icon('fb','social-icon')
          a(href="/").social-link#lkd-link
            +icon('lkd','social-icon')
  .footer-content-bottom
    a(href="/").copyright  Продукт разработан компанией Морас Диджитал
