header
  .container
    .header-content
      button.hamburger.hamburger--spring
        span.hamburger-box
          span.hamburger-inner
      .mobile-menu
        nav.mobile-navigation
          a(href="/").nav-link--mobile Главная      
          a(href="/").nav-link--mobile Новости
          a(href="/").nav-link--mobile купить
          a(href="/").nav-link--mobile демо
          a(href="/").nav-link--mobile лицензионное соглашение
          a(href="/").nav-link--mobile дополнительные услуги
          a(href="/").nav-link--mobile модули
          a(href="/").nav-link--mobile Контакты
      .logo.logo--header
        a(href="/")
          img(src="/static/img/general/header-logo.png").img-header
      .auth
        .auth-text-column
          span.auth-text-top Вход
          span.auth-text-btm  для клиентов:
        form.form.form-header
          .field-wrap.user-field
            input.auth-field
          .field-wrap.pass-field   
            input.auth-field(type="password")     
        button.btn.btn-enter войти
      button.btn.btn--orange.btn-regestration регистрация    
        
