.main-nav
  .container
    nav.navigation
      a(href="/").nav-link.nav-link--active Главная      
      a(href="/").nav-link Новости
      a(href="/").nav-link купить
      a(href="/").nav-link демо
      a(href="/").nav-link лицензионное соглашение
      a(href="/").nav-link дополнительные услуги
      a(href="/").nav-link модули
      a(href="/").nav-link Контакты
