extends ../layout/main

block variables
	- var title = '404-page'
	- var pageClass = '404-page'

block content
	.mobile-content-overlay
	include ../modules/header
	include ../modules/main-nav
	section.fof
		.section-background
			img.news-layer.news-layer-first(src="/static/img/general/news-layer-1.png")
			img.news-layer.news-layer-second(src="/static/img/general/news-layer-2.png")
			img.news-layer.news-layer-third(src="/static/img/general/news-layer-3.png")
			img.news-layer.news-layer-fourth(src="/static/img/general/404-bg.png")
		.container
			.fof-content
				.fof-container
					img.ff-bg(src="/static/img/general/404.png")
					span.fof-notification извините, страница не найдена
					button.btn.btn--orange.btn-go-to-homepage вернуться на главную 	
	include ../modules/footer
	
