@media (max-width: 1219px)
  .container
    max-width: 920px
  .header-content
    padding: 0
  .logo--header
    display: flex
    align-items: center
  .hamburger--spring
    display: block;
  .main-nav
    display: none
  .btn-regestration
    display: none;
  .btn-regestration--mobile
    display: flex;
  .auth-text-column,
  .form-header
    display: none
  .content-image
    height: 240px
    max-width: 270px
  .mobile-hidden-text
    display: none;
  .footer-content
    flex-direction: column;
  .mobile-footer-navigation
    display: block;
  .footer-logo
    display: none;
  .feedback
    flex-direction: row;
    margin-top: 25px
    padding-bottom: 40px
    padding-top: 100px
    &:before
      left: 50%
      transform: translateX(-50%)
      bottom: 50%
  .feedback-text
    margin-right: 5px
  .socials
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

@media (max-width: 1219px) and (min-width:960px)
  .container
    max-width: 920px
  .content-row-wrap
    padding: 40px 40px 60px
  .thanks-payment-wrap
    flex-direction: column;
    align-items: center;
  .thanks-payment-block
    width: 90%
  .payment-sum-wrap
    padding: 20px 40px;
  .input-row
    flex-flow: wrap;
  #email-field,
  #phone-field
    width: 100%
  .services-button-wrap
    margin-top: 40px
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px
  .btn-order
    margin-bottom: 30px
@media (min-width:590px) and (max-width:959px)
  .mobile-news-content-text
    display: none;
  .content-image
    height: 140px
    max-width: 160px
  .container
    max-width: 545px
  .thanks-payment-wrap
    flex-direction: column;
    align-items: center;
  .thanks-payment-block
    width: 90%
  .payment-sum-wrap
    padding: 20px 40px;
  .thanks-main-title
    font-size: 28px
  .thanks-main-subtitle
    font-size: 16px
  .payment-info-row
    flex-direction: column;
  .payment-content-text
    text-align: left;
    margin-top: 15px
  .registr
    height: auto;
  .registr-block-content
    background: transparent
  .reg-tab-content
    display: flex;
    background: white
    margin-bottom: 30px
    flex-direction: column;
  .reg-tab-link
    display: none;
  .reg-tab-link--active
    font-size: 30px
    width: 100%
    display: flex;
    justify-content: center;
    background: #0092d4
    color: white
  .reg-tab-link--mobile
    display: flex;
    width: 100%
    justify-content: center;
  .form-field-wrap
    flex-direction: column;
    align-items: center;
  .reg-form
    margin-right: 0
    margin-bottom: 20px
    &:last-child
      margin-bottom: 0px
  .btn-regestration--mobile
    align-self: center;
  .news-layer-fourth,
  .news-layer-third,
  .news-layer-second
    display: none;
  .services-block-content
    background: whiteColor
  .row-content
    flex-direction: column;
    justify-content: center;
    align-items: center;
  .services-present
    width: 100%
  .services-form-wrap
    width: 100%
  .input-row
    flex-flow: wrap;
  #email-field,
  #phone-field
    width: 100%
  .services-button-wrap
    margin-top: 40px
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px
  .btn-order
    margin-bottom: 30px
@media (max-width: 589px) and (min-width:320px)
  .btn-enter
    display: none;
  .logo--header
    padding: 0 25px
  .mobile-news-content-text
    display: none;
  .container
    max-width: 320px
  .content-row
    flex-direction: column;
  .news-text-wrap
    width: 100%
    margin: 30px 0
  .news-content-text-wrap
    margin-top: 0
  .thanks-payment-wrap
    flex-direction: column;
    align-items: center;
  .thanks-payment-block
    width: 90%
  .payment-sum-wrap
    padding: 20px 40px;
  .thanks-main-title
    font-size: 28px
  .thanks-main-subtitle
    font-size: 16px
    text-align: center;
  .payment-info-row
    flex-direction: column;
  .payment-content-text
    text-align: left;
    margin-top: 15px
    width: 100%
  .thanks-title-text
    margin-left: 0
  .thanks-title-wrap
    flex-direction: column;
  .thanks-title-image
    max-width: 60px
  .registr
    height: auto;
  .registr-block-content
    background: transparent
  .reg-tab-content
    display: flex;
    background: white
    margin-bottom: 30px
    flex-direction: column;
  .reg-tab-link
    display: none;
  .reg-tab-link--active
    font-size: 30px
    width: 100%
    display: flex;
    justify-content: center;
    background: #0092d4
    color: white
  .reg-tab-link--mobile
    display: flex;
    width: 100%
    justify-content: center;
  .form-field-wrap
    flex-direction: column;
    align-items: center;
  .reg-form
    margin-right: 0
    margin-bottom: 20px
    &:last-child
      margin-bottom: 0px
  .btn-regestration--mobile
    align-self: center;
  .reg-field
    width: 280px
  .fof
    height: 45vh;
  .ff-bg
    width: 235px
    margin-bottom: 45px
  .fof-notification
    font-size: 14px
    margin: 0 0 20px
  .news-layer-fourth,
  .news-layer-third,
  .news-layer-second
    display: none;
  .heading-license
    text-align: center
  .row-content
    flex-direction: column;
    justify-content: center;
    align-items: center;
  .services-present
    width: 100%
  .services-form-wrap
    width: 100%
  .input-row
    flex-flow: wrap;
  #email-field,
  #phone-field
    width: 100%
  .services-button-wrap
    margin-top: 40px
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px
  .btn-order
    margin-bottom: 30px
  .services-payment-eq,
  .pre-text
    font-size: 30px
  .services-payment-sum
    font-size: 40px
  .services-present-text
    margin-bottom: 40px
  .row-content,
  .content-text-wrap
    width: 85%
