// ЦВЕТА
whiteColor = #ffffff
blackColor= #000000
orange-one = #f89725

// РАЗМЕРЫ
baseFontSize = 16px


// ШРИФТЫ

mainFont = 'OpenSans-Regular';
bebasFont = 'BebasNeueRegular';

Text-Style-Main()
  font-size: 15px
  font-family: mainFont
  font-weight: 600

Text-Style-Link()
  font-size: 15px
  font-family: mainFont
  font-weight: 700

Text-Style-Title()
  font-size 36px
  font-family: bebasFont
  font-weight: 700
