.dec-second
  z-index: 2

.dec-third
  z-index: 1

.dec-first
  z-index: 2

.services-block-content
  padding-bottom: 70px
.row-content
  display: flex;
  width: 95%
  align-self: center;
  justify-content: space-between;

.block-title-wrap
  width: 100%
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0

.services-title
  font-size: 24px
  font-weight: 700;
  color: #2f5068
  text-transform: uppercase;

.services-subtitle
  font-size: 18px
  font-weight: 400

.services-present
  width: 49%

.services-form-wrap
  width: 49%

.services-present-text
  display: flex;
  width: 100%
  justify-content: center;
  align-items: baseline;
  margin-top: 20px

.pre-text
  font-size: 48px
  font-weight: 700

.services-payment-sum
  font-size: 72px

.services-payment-eq
  font-size: 48px
  text-transform: uppercase;

.services-form-wrap
  width: 49%;
  display: flex;
  flex-direction: column;

.services-button-wrap
  display: flex;
  justify-content: space-between;

.init-field
  border-radius:  50px
  border: 1px solid #cccccc
  padding-left: 25px
  line-height: 36px
  margin-bottom: 20px

.input-row
  width: 100%
  display: flex;
  justify-content: space-between;

#email-field,
#phone-field
  width: 48%

.services-form-text
  margin-bottom: 35px
  font-size: 14px
  margin-top: -5px

.comment-field
  border-radius: 25px
  border: 1px solid #cccccc
  height: 170px
  padding-left: 25px
  padding-top 20px
  &:focus
    outline: none

.services-button-wrap
  margin-top: 55px

.content-text-wrap
  display: flex;
  align-self: center;
  width: 95%
  margin-bottom: 25px
